/* section {
    width: 100%;
    max-width: 420px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    background: #fff;
    border-radius: 10px;
} */

/* form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
} */

.login_registration_link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* a, a:visited {
    margin: 1rem;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bolder;
    color: #0DB5FF;

} */

/* input[type="text"],
input[type="password"],
input[type="email"],
button {
    font-family: 'Arial Black', sans-serif;
    font-size: 26px;
    padding: 0.25rem;
    border: none;
    border-radius: 10px;
    box-shadow: 4px 5px 9px grey;
}

button {
    background-color: rgba(0, 0, 0, 0.87);
    color: rgba(255, 255, 255, 0.8);
    margin: 3.5rem 3.5rem;
}

button[disabled] {
    background-color: rgba(0, 0, 0, 0.44);
} */

.title {
    text-align: center;
    text-transform: uppercase;
}

/* label {
    margin: 1rem 1rem;
}

button {
    padding: 0.5rem;
} */

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.err_msg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    margin: 1rem;
    display: inline-block;
}