.labelStyle {
    font-size: 26px;
    font-weight: bolder;
}

.titleLabel {
    font-size: 1.5rem;
    letter-spacing: 1px;
    margin-left: 2rem;
}


.container {
    position: relative;
    padding-left: 35px;
}
.checkmark {
    position: absolute;
        top: -1rem;
    left: 1rem;
    height: 3rem;
    width: 3rem;
    border-radius:0.3rem;
}

.container:hover input ~ .checkmark {
    background-color: #ccc;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 17px;
    top: 7px;
    width: 14px;
    height: 24px;
    border: solid rgba(0, 0, 0, 0.79);
    border-width: 0 3px 3px 0;
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}