.container {
   position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    border-radius: 0.5rem;
}

.img {
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
    transform: translate(-50% ,-50%);
    animation: transition-animation 400ms linear;
}

.title {
    position: absolute;
    top: 0;
    width: 50%;
    height: 200px;
    left: 25%;
    margin: auto;
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
}

@keyframes transition-animation {
    0% {
        opacity: 0.2;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
    }
}