.title {
    font-weight: bolder;
    margin-bottom: 3rem;
    font-size: 26px;
}

.checkBoxes  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
    max-width: 32rem;
}

.background {
    border-radius: 20px;
    padding: 4rem ;
    background-color: #aaa;
}

