.title {
    font-weight: bolder;
    margin-bottom: 3rem;
    font-size: 26px;
}

.checkBoxes  {
    display: flex;
    flex-direction: column;
}

.checkBoxes input {
    margin: 0.50rem  0.75rem 0 0;
}

.checkBoxes input[type=checkbox]:checked {
    accent-color: #000000;
}

.checkBoxes label {
    font-weight: bolder;
}

