
.itemBody {
    border-radius: 10px;
    box-shadow: 4px 5px 9px grey;
    margin: 2rem;
    min-height: 27rem;
    max-height: 27rem;
}

.itemContent {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
}

.name {
    text-align: center;
    width: 15rem;
    word-break: break-word;
}