.itemsContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.container {
    width: 80%;
}

.bodyCard {
    max-width: 25rem;
    min-width: 25rem;
}

.searchBar {
    margin-left: 2rem;
}

.noResults {
    font-size: 3rem;
    font-weight: bolder;
    width: 50%;
    margin: auto;
}