.background {
  background-image: linear-gradient(
      0deg,
      rgba(107, 107, 107, 0.30),
      rgba(107, 107, 107, 0.30)
    ),
    url("../../assets/images/login-background.webp");
  min-height: 100vh;
}
