* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

label {
    margin: 0;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /*background-image: url("../src/assets/images/logBg.jpg");*/
}

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0.5rem;
}
