
:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-text: #1c1c1c;
  --color-link: #0db5ff;
  --color-error: #ff3333;
  --box-shadow-login: rgba(0, 0, 0, 0.56);
  --border-radius: 6px;
}

body {
  color: var(--color-text);
  font-family: Calibri, sans-serif;
  font-size: 16px;
  height: 100%;
  width: 100%;
}
