.background {
  background-image: linear-gradient(
      0deg,
      rgba(107, 107, 107, 0.3),
      rgba(107, 107, 107, 0.3)
    ),
    url("../../../assets/images/login-background.webp");
  min-height: 100vh;
}

.box {
    background-image: linear-gradient(
      0deg,
      rgba(107, 107, 107, 0.30),
      rgba(107, 107, 107, 0.30)
    ),
    url("../../../assets/images/login-background.webp");
  /* min-height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.formSection {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  /* justify-content: flex-start; */
  background-color: var(--color-white);
  height: 600px;
  width: 450px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-login) 0px 22px 70px 4px;
}
